{% extends "base.html" %}
{% block main_content %}
<h1> New Cars For Sale </h1>
<aside>
    <section class="filter-section">
    <form class="filter-form" action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        {{ form.price() }}
        {{ form.make() }}
        {{ form.submit(class="submit-button") }}
       

    </form>
    </section>
</aside>
<section class="car-container">
    <section class="car-grid">
        {% for car in cars %}
        <div class="car-item">
            <a  href="{{ url_for('car',car_id = car['car_id'] ) }}">
            <div class="car-info">
            
            <img src="{{ url_for('static', filename = car['image'])}}" alt="the car" />
            <h3>{{ car["name"] }} </h3>
            <p>Price: {{ car["price"] }}€</p>
            see details</a>
          </div>
         
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}

